* {
      user-select: none;
      box-sizing: border-box;
}

body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: "Segoe UI";
}
textarea {
  width: 100%;
}

a:link, a:visited {
  background-color: #1d1e22;
  color: white;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: auto;
}

#settings {
      float: left;
      position: fixed;
      width: 15%;
      height: 100vh;
      opacity: 0.8;
      z-index: 1;
      transition: all 1s ease;
      padding: 1em;
      background-color: lightgrey;
      border: outset;
      display: flex;
      flex-direction: column;
}

#settings:hover {
      opacity: 1;
      transition: all 0.5s ease;
}

#settings>* {
      width: 100%;

}

#node-color * {
      display: inline-block;
}

#color-indicator {
      position: relative;
      top: 3px;
      margin-left: 5px;
}

#color-dropdown {
      /* float: left; */
}

#node-color-header {
      margin-bottom: 0;
}

#network {
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      z-index: 0;
      position: absolute;
}
